## Lorax template to execute commands when necessary.
## Utilized for rebuilding Initramfs post install.

## Args:
##  - cmd_1               - command to be executed

<%page args="cmd"/>
runcmd ${cmd}
