## Lorax template to configure Anaconda to:
##  1) Use the repository we embedded in the ISO
##  2) Disable cloud-init (since we don't use it in the Anaconda path)
##     but the package enables itself by default
##  3) Work around https://bugzilla.redhat.com/show_bug.cgi?id=1193590

<%page args="ostree_osname, ostree_ref"/>
append usr/share/anaconda/interactive-defaults.ks "ostreesetup --nogpg --osname=${ostree_osname} --remote=${ostree_osname} --url=file:////run/install/repo/content/repo --ref=${ostree_ref}\n"
append usr/share/anaconda/interactive-defaults.ks "services --disabled cloud-init,cloud-config,cloud-final,cloud-init-local\n"
append usr/share/anaconda/interactive-defaults.ks "%post --erroronfail\nrm -f /etc/ostree/remotes.d/${ostree_osname}.conf\nostree remote add --set=gpg-verify=false fedora-atomic 'https://kojipkgs.fedoraproject.org/atomic/rawhide/'\ncp /etc/skel/.bash* /root\n%end\n"

